@model RestaurantReviewWebsite.Models.ReviewPageViewModel

<div>
    <h4>Review</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReviewerName)
        </dt>

        <dd>
            @(string.IsNullOrEmpty(Model.ReviewerName) ? "Anonymous" : Model.ReviewerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Review.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Review.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Review.Description)
        </dt>

        <dd>
            @(!String.IsNullOrEmpty(Model.Review.Description) ? Html.DisplayFor(model => model.Review.Description) : Html.Raw("N/A"))
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Update", new { id = Model.Review.ID }) |
    @Html.ActionLink("Back to Review List", "List", new { id = Model.RestaurantID })
</p>
